Repository BijanProgrammerWebsites/slides-the-ultimate-authentication-guide: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

.lintstagedrc.json:

{
    "*": "prettier --ignore-unknown --write",
    "*.{ts,tsx}": "eslint --fix",
    "*.scss": ["stylelint --fix"]
}

[CD/CD][UPDATE] port
  package.json
Due: prettier --ignore-unknown --write

[REMOVE] redundant images
  public/next.svg
  public/vercel.svg
Due: prettier --ignore-unknown --write

[CD/CD][ADD] base path
  next.config.mjs
Due: prettier --ignore-unknown --write

[ADD] reveal.js
  package-lock.json
  package.json
  src/app/globals.scss
  src/app/layout.tsx
  src/app/page.tsx
  src/assets/icons/arrow-left.svg
  src/assets/icons/check-mark.png
  src/providers/reveal.provider.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

[ADD] cover slide
  src/app/page.tsx
  src/assets/images/qr-code.svg
  src/slides/cover/cover.module.scss
  src/slides/cover/cover.slide.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

[REMOVE] redundant export keyword
  src/slides/cover/cover.slide.tsx
Due: prettier --ignore-unknown --write, eslint --fix

[ADD] table of contents
  src/app/page.tsx
  src/slides/table-of-contents/table-of-contents.module.scss
  src/slides/table-of-contents/table-of-contents.slide.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

[ADD] css cascade layers
  package-lock.json
  package.json
  postcss.config.json
  src/app/globals.scss
  src/app/layout.tsx
  src/app/reveal.css
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

[REMOVE] redundant class names
  src/slides/cover/cover.module.scss
  src/slides/cover/cover.slide.tsx
  src/slides/table-of-contents/table-of-contents.module.scss
  src/slides/table-of-contents/table-of-contents.slide.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

[UPDATE] css to scss
  src/app/layout.tsx
  src/app/reveal.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

[UPDATE] layers position
  src/app/reveal.scss
Due: prettier --ignore-unknown --write, stylelint --fix

[ADD] authentication vs authorization
  src/app/page.tsx
  src/assets/images/authentication-vs-authorization/authentication.webp
  src/assets/images/authentication-vs-authorization/authorization.webp
  src/slides/versus/versus.module.scss
  src/slides/versus/versus.slide.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

[ADD] base slide
  src/slides/base/base.module.scss
  src/slides/base/base.slide.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

[REFACTOR] slides to use base slide
  src/slides/table-of-contents/table-of-contents.slide.tsx
  src/slides/versus/versus.slide.tsx
Due: prettier --ignore-unknown --write, eslint --fix

[ADD] authentication vs authorization chapter
  src/app/page.tsx
  src/chapter/authentication-vs-authorization/authentication-vs-authorization.chapter.tsx
  src/chapter/authentication-vs-authorization/authentication-vs-authorization.module.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

[ADD] types of authentication chapter
  src/app/page.tsx
  src/assets/images/types-of-authentication/mfa.webp
  src/assets/images/types-of-authentication/otp.webp
  src/assets/images/types-of-authentication/passwordless.webp
  src/assets/images/types-of-authentication/security-questions.webp
  src/assets/images/types-of-authentication/sfa.webp
  src/assets/images/types-of-authentication/sso.webp
  src/assets/images/types-of-authentication/totp.webp
  src/chapter/types-of-authentication/types-of-authentication.chapter.tsx
  src/chapter/types-of-authentication/types-of-authentication.module.scss
  src/slides/image/image.module.scss
  src/slides/image/image.slide.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

[UPDATE] disable hiding inactive cursor
  src/providers/reveal.provider.tsx
Due: prettier --ignore-unknown --write, eslint --fix

[ADD] closing slide
  src/app/page.tsx
  src/slides/closing/closing.module.scss
  src/slides/closing/closing.slide.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

[ADD] ignore folder to .gitignore
  .gitignore
Due: prettier --ignore-unknown --write

[FIX] image overflow issue
  src/slides/versus/versus.module.scss
  src/slides/versus/versus.slide.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

[ADD] restful and http chapter
  src/app/page.tsx
  src/assets/images/restful-and-http/fetch.webp
  src/assets/images/restful-and-http/http-methods.webp
  src/assets/images/restful-and-http/http-status-codes.webp
  src/assets/images/restful-and-http/index-html.webp
  src/assets/images/restful-and-http/request-and-response.webp
  src/assets/images/restful-and-http/resources.webp
  src/assets/images/restful-and-http/server-and-client.webp
  src/assets/images/restful-and-http/stateful.webp
  src/assets/images/restful-and-http/stateless.webp
  src/chapter/restful-and-http/restful-and-http.chapter.tsx
  src/chapter/restful-and-http/restful-and-http.module.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

[ADD] sign up
  src/app/page.tsx
  src/assets/images/sign-up/encryption-decryption.webp
  src/assets/images/sign-up/hashing-and-hacker.webp
  src/assets/images/sign-up/hashing-and-rainbow-table.webp
  src/assets/images/sign-up/hashing.webp
  src/assets/images/sign-up/raw-passwords-and-hacker.webp
  src/assets/images/sign-up/raw-passwords.webp
  src/assets/images/sign-up/salt.webp
  src/chapter/sign-up/sign-up.chapter.tsx
  src/chapter/sign-up/sign-up.module.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

[ADD] storing user data chapter
  src/app/page.tsx
  src/assets/images/storing-user-data/cookies-message.webp
  src/assets/images/storing-user-data/cookies-vs-sessions-vs-localstorage.webp
  src/assets/images/storing-user-data/cookies.webp
  src/chapter/storing-user-data/storing-user-data.chapter.tsx
  src/chapter/storing-user-data/storing-user-data.module.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

[ADD] remember me
  src/app/page.tsx
  src/assets/images/storing-user-data/remember-me.webp
  src/chapter/storing-user-data/storing-user-data.chapter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

[ADD] sign in chapter
  src/app/page.tsx
  src/assets/images/sign-in/further-requests.webp
  src/assets/images/sign-in/jwt.webp
  src/chapter/sign-in/sign-in.chapter.tsx
  src/chapter/sign-in/sign-in.module.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

[FIX] zoom plugin not working
  src/providers/reveal.provider.tsx
Due: prettier --ignore-unknown --write, eslint --fix

[ADD] sign out chapter
  src/app/page.tsx
  src/assets/images/sign-out/clear-cookie.webp
  src/chapter/sign-out/sign-out.chapter.tsx
  src/chapter/sign-out/sign-out.module.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

[ADD] security concerns chapter
  src/app/page.tsx
  src/assets/images/security-concerns/captcha.webp
  src/assets/images/security-concerns/deprecation-of-captcha.webp
  src/assets/images/security-concerns/lazy-load-routes.webp
  src/assets/images/security-concerns/recaptcha.webp
  src/assets/images/security-concerns/route-guards.webp
  src/assets/images/security-concerns/token-validation.webp
  src/chapter/security-concerns/security-concerns.chapter.tsx
  src/chapter/security-concerns/security-concerns.module.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

[FIX] versus slide's alignment and size issue
  src/slides/versus/versus.module.scss
  src/slides/versus/versus.slide.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

[ADD] cookies chapter
  src/app/page.tsx
  src/assets/images/cookies/client-cookie.webp
  src/assets/images/cookies/cookie-header.webp
  src/assets/images/cookies/csrf.webp
  src/assets/images/cookies/domain.webp
  src/assets/images/cookies/man-in-the-middle.webp
  src/assets/images/cookies/path.webp
  src/assets/images/cookies/server-cookie.webp
  src/assets/images/cookies/set-cookie-header.webp
  src/assets/images/cookies/xss.webp
  src/chapter/cookies/cookies.chapter.tsx
  src/chapter/cookies/cookies.module.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

[UPDATE] font and colors
  src/app/globals.scss
  src/app/layout.tsx
  src/app/reveal.scss
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

[UPDATE] heading's font size
  src/slides/versus/versus.module.scss
Due: prettier --ignore-unknown --write, stylelint --fix

[UPDATE] counter's font size
  src/slides/table-of-contents/table-of-contents.module.scss
Due: prettier --ignore-unknown --write, stylelint --fix

[UPDATE] centralize images
  src/assets/images/authentication-vs-authorization/authentication.webp
  src/assets/images/authentication-vs-authorization/authorization.webp
Due: prettier --ignore-unknown --write

[FIX] small visual issues with images
  src/assets/images/restful-and-http/fetch.webp
  src/assets/images/security-concerns/captcha.webp
  src/assets/images/security-concerns/route-guards.webp
  src/assets/images/security-concerns/token-validation.webp
  src/assets/images/sign-in/further-requests.webp
  src/assets/images/sign-in/jwt.webp
  src/assets/images/sign-up/encryption-decryption.webp
  src/assets/images/sign-up/hashing-and-hacker.webp
  src/assets/images/sign-up/hashing-and-rainbow-table.webp
  src/assets/images/sign-up/hashing.webp
  src/assets/images/sign-up/raw-passwords-and-hacker.webp
  src/assets/images/sign-up/raw-passwords.webp
  src/assets/images/sign-up/salt.webp
  src/assets/images/types-of-authentication/sso.webp
Due: prettier --ignore-unknown --write

[UPDATE] sending to requesting
  src/chapter/restful-and-http/restful-and-http.chapter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

[UPDATE] caption to remember me
  src/chapter/storing-user-data/storing-user-data.chapter.tsx
Due: prettier --ignore-unknown --write, eslint --fix

[FIX] undesirable border
  src/assets/images/types-of-authentication/sfa.webp
Due: prettier --ignore-unknown --write

[UPDATE] images' sizes
  src/chapter/cookies/cookies.chapter.tsx
  src/chapter/restful-and-http/restful-and-http.chapter.tsx
  src/chapter/security-concerns/security-concerns.chapter.tsx
  src/chapter/sign-in/sign-in.chapter.tsx
  src/chapter/sign-out/sign-out.chapter.tsx
  src/chapter/storing-user-data/storing-user-data.chapter.tsx
  src/chapter/types-of-authentication/types-of-authentication.chapter.tsx
  src/slides/image/image.module.scss
  src/slides/image/image.slide.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix

[ADD] socials to closing slide
  src/app/globals.scss
  src/icons/simple-icons-aparat.icon.tsx
  src/icons/simple-icons-linkedin.icon.tsx
  src/icons/simple-icons-telegram.icon.tsx
  src/slides/closing/closing.module.scss
  src/slides/closing/closing.slide.tsx
Due: prettier --ignore-unknown --write, eslint --fix, stylelint --fix
